body {
    padding: 1rem;
}

.flex {
    display: flex;
}

article {
    display: flex;
    flex-direction: column;
}

header > h2 {
    margin-bottom: 0;
}

header {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}

.task {
    margin-bottom: 1rem;
}

.form-error {
    color: var(--pico-del-color);
    margin-bottom: var(--pico-spacing);
}

.modal-content {
    min-width: 50%;
}

@media (max-width: 768px) {
    .modal-content {
        min-width: 90%;
    }

}

.modal-btn-container {
    display: flex;
    justify-content: center;
}

summary {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.dropdown-icon {
    display: block;
}

nav {
    display: flex;
    align-content: flex-end;
}


@media (max-width: 768px) {
    .breadcrumb {
        display: none;
    }

}

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
}

.container {
    padding: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.quasi-button, .btn {
    background-color: var(--pico-background-color) !important;
    color: var(--pico-color);
    box-shadow: var(--pico-box-shadow);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.solution {
    display: flex;
    padding: 0.5rem;
}

.solution-voting {
    display: flex;
    align-items: center;
}

.solution-content {
    margin-left: 1rem;
}

.voting-button {
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
}

@media (max-width: 768px) {
    .solution {
        flex-direction: column;
    }
    .solution-voting {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .solution {
        flex-direction: row;
    }
    .solution-voting {
        flex-direction: column;
    }
}

.comment-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--pico-color);
}

.comment-icon {
    height: fit-content;
}

.comments {
    margin-left: 1rem;
}

.solution-content {
    width: 100%;
}

.task > details > summary {
    width: calc(100% - 1rem) !important;
}

.solution-content > * {
    width: calc(100% - 2rem) !important;
}

.comments > .comment:last-of-type {
    margin-bottom: 1rem;
}

.comment {
    padding: 0.5rem;
}

.comment > cite {
    margin-bottom: 0rem;
}
.comment > h5 {
    margin-bottom: 0rem;
}

.input-info {
    display: block;
    width: 100%;
    margin-top: calc(var(--pico-spacing)* -.75);
    margin-bottom: var(--pico-spacing);
    line-height: 1;
}

.input-info > span {
    font-size: 1.1em;
    margin-right: 0.3em;
    vertical-align: -0.15em;
}

.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline;
    margin-right: 1em;
}
.htmx-request.htmx-indicator {
    display: inline;
    margin-right: 1em;
}


/* override dialog>article to dialog article */
:where(.modal-is-opening,.modal-is-closing) dialog,:where(.modal-is-opening,.modal-is-closing) dialog article{
    animation-duration:.2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:both
}
:where(.modal-is-opening,.modal-is-closing) dialog article{
    animation-delay:.2s;
    animation-name:modal
}
.modal-is-closing dialog,.modal-is-closing dialog article{
    animation-delay:0s;
    animation-direction:reverse
}

.group {
    height: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    place-content: space-between;
}
.group > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.group > h1 {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.group > img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    height: auto;
    font-size: 0;
    margin-bottom: 0.5rem;
}
.group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}
.wide-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.wide-button {
    width: 50%;
    --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
}

.solution-content header {
    display: flex;
    margin-bottom: 1.5rem;
}

.task header {
    display: flex;
    margin-bottom: 1.5rem;
}

.solution-content header>div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.task header>div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.post-more-options {
    margin: 1rem;
}