body {
    // padding: 1rem;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.task {
    margin-bottom: 3rem;
    border-radius: 0.25rem;
}

.form-error {
    color: var(--pico-del-color);
    margin-bottom: var(--pico-spacing);
}

.modal-content {
    min-width: 50%;
}

.modal-btn-container {
    display: flex;
    justify-content: center;
}